body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #02d4b1;
    color: #fff;
    height: 100px;
    padding-top: 10px;
    width: 100%;
}
.wrapper {
    padding: 0 1em;
}