<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <h2>Property List</h2>
            <p>See all the houses you want!</p>
        </div>
    </header>
    <main class="wrapper">
        <div class="filter-block">
            <p>Filter:</p>
            <button>Vilnius</button>
            <button>Kaunas</button>
            <button>Klaipėda</button>
        </div>
        <div class="card-container">
            <div class="card">
                <img src="" alt="">
                <span></span>
                <span></span>
                <p></p>
            </div>
        </div>
        <div class="links">
            <a href="../../index.html">login</a>
            <a href="../../app/views/property-sale.html">property sale</a>
        </div>
    </main>
</body>

</html>