<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <h2>Add your property for sale</h2>
            <p>Yes, you can sell where you live and get cash!!</p>
        </div>
    </header>
    <main class="wrapper">
        <form name="add_property" action="" method="POST">
            <h3>Add Property</h3>
            <label for="img-input">Img</label>
            <input name="img_input" id="img-input" type="text" placeholder="https:/google.com">
            <label for="price-input">Price, EUR</label>
            <input name="price_input" id="price-input" type="text" placeholder="150000">
            <label for="description-input">Description</label>
            <textarea name="description-input" id="description-input" type="text" placeholder="anything you like to say.."></textarea>
            <label for="city-input">City</label>
            <select name="city_input" id="city-input">
                <option value="Vilnius">Vilnius</option>
                <option value="Klaipėda">Klaipėda</option>
                <option value="Kaunas">Kaunas</option>
            </select>
        </form>
        <div class="links">
            <a href="../../index.html">login</a>
            <a href="../../app/views/property-list.html">property list</a>
        </div>
    </main>
</body>

</html>