<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
    <header>
        <div class="wrapper">
            <h2>Add your property for sale</h2>
            <p>Yes, you can sell where you live and get cash!!</p>
        </div>
    </header>
    <div class="links">
        <a href="../../index.html">login</a>
        <a href="../../app/views/property-list.html">property list</a>
        
    </div>
</body>
</html>