<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <h2>Property List</h2>
            <p>See all the houses you want!</p>
        </div>
    </header>
    <main class="wrapper">
        <p>Filter:</p>
        <div class="filter-block">
            <div class="button-block">
                <button>Vilnius</button>
                <button>Kaunas</button>
                <button>Klaipėda</button>
            </div>
            <div>
                <button class="btn">Add Property +</button>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <img src="../../assets/img/01.jpg" alt="">
                <div>
                    <span class="price">€130,000</span>
                    <span class="city">Vilnius</span>
                    <p>Gražus namas prie upės. Penki kambariai ir t.t.</p>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/img/02.jpg" alt="">
                <div>
                    <span class="price">€100,000</span>
                    <span class="city">Vilnius</span>
                    <p>Gražus namas prie upės. Penki kambariai ir t.t.</p>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/img/03.jpg" alt="">
                <div>
                    <span class="price">€180,000</span>
                    <span class="city">Vilnius</span>
                    <p>Gražus namas prie upės. Penki kambariai ir t.t.</p>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/img/03.jpg" alt="">
                <div>
                    <span class="price">€180,000</span>
                    <span class="city">Vilnius</span>
                    <p>Gražus namas prie upės. Penki kambariai ir t.t.</p>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/img/03.jpg" alt="">
                <div>
                    <span class="price">€180,000</span>
                    <span class="city">Vilnius</span>
                    <p>Gražus namas prie upės. Penki kambariai ir t.t.</p>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/img/03.jpg" alt="">
                <div>
                    <span class="price">€180,000</span>
                    <span class="city">Vilnius</span>
                    <p>Gražus namas prie upės. Penki kambariai ir t.t.</p>
                </div>
            </div>
        </div>
        <div class="links">
            <a href="../../index.html">login</a>
            <a href="../../app/views/property-sale.html">property sale</a>
        </div>
    </main>
</body>

</html>